<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>

	<body>
		<div fxLayout="row">
			<div fxFlex="20%">
				<h1 class="heading">Proposal</h1>
			</div>
			<div fxFlex="80%" fxFlex.xs="20%">
				<button mat-stroked-button color="primary" class="btn">
					send to email
				</button>
			</div>
		</div>

		<mat-card class="card_color">
			<div fxLayout="row">
				<div
					fxFlex="20%"
					fxFlex.xs="27%"
					fxFlex.sm="10%"
					fxLayoutGap.sm="1%"
					fxLayoutGap.xs="10%"
				>
					<img src="../../../assets/motor_policy.PNG" alt="a car image" />
				</div>
				<div
					fxLayout="row"
					fxLayout.xs="column"
					fxFlex="100%"
					fxLayoutGap.xs="4%"
				>
					<div
						fxFlex="60%"
						fxFlex.xs="40%"
						fxFlex.sm="60%"
						fxLayoutAlign="center"
					>
						<span class="middle_text">Motor Third Party Liability Policy</span>
					</div>
					<div fxFlex.xs="30%" fxFlex="40%" fxFlex.sm="25%" class="pay_margin">
						<div class="div_prop">324<span class="span_prop">,00BGN</span></div>
						<div>Fourth payment</div>
					</div>
				</div>
            </div> 
            </mat-card><br />

		<mat-card fxLayoutGap="10px">
			<div fxLayout="row">
				<div fxFlex="10%">
					<img
						src="../../../assets/tick.jpg"
						class="tick"
						alt="green tick mark image"
					/>
				</div>
				<div fxFlex="80%">
					<p class="text_prop">
						Premium indicated are final and include Contribution to the
						Gaurantee and Insurance Fund, stickers and 2% tax on insurance
						payment.
					</p>
				</div>
			</div>

			<div fxLayout="row">
				<div fxFlex="10%">
					<img
						src="../../../assets/tick.jpg"
						class="tick"
						alt="green tick mark image"
					/>
				</div>
				<div fxFlex="80%">
					<p class="text_prop">
						The insurance payment is calculated with included - 5% discount for
						insurance with
					</p>
				</div>
			</div>

			<div fxLayout="row">
				<div fxFlex="10%">
					<img
						src="../../../assets/tick.jpg"
						class="tick"
						alt="green tick mark image"
					/>
				</div>
				<div fxFlex="80%">
					<p class="text_prop">Annual Technical Inspection Voucher</p>
				</div>
            </div> 
            </mat-card><br />
		<!-- Display other components data -->
		<form [formGroup]="summaryForm">
			<mat-card>
				<div fxLayout="row">
					<mat-label class="label_prop">Instalments</mat-label>
					<button
						mat-button
						color="primary"
						(click)="moveToCalculator(3)"
						id="edit"
						name="edit"
					>
						Edit
					</button>
				</div>

				<div fxLayout="row" fxLayout.xs="column">
					<div
						fxFlex="25%"
						*ngFor="let ele of installment.installments; let indexOfEle = index"
					>
						<mat-label class="sub_label_prop"
							>{{ indexOfEle + 1 | ordinal }} Installment</mat-label
						>
						<div>{{ ele }}</div>
					</div>
				</div> </mat-card><br />

			<mat-card>
				<div fxLayout="row">
					<mat-label class="label_prop">Additional Covers</mat-label>
					<button
						mat-button
						color="primary"
						(click)="moveToCalculator(4)"
						id="coveredit"
						name="coveredit"
					>
						Edit
					</button>
				</div>
				<div>
					<mat-label>{{ additionalcovers.cover }}</mat-label>
                </div> 
                </mat-card><br />

			<mat-card style="border: none;">
				<div fxLayout="row">
					<mat-label class="label_prop">Policy Dates</mat-label>
					<button
						mat-button
						color="primary"
						(click)="moveToCalculator(2)"
						id="dateedit"
						name="dateedit"
					>
						Edit
					</button>
				</div>
				<div fxLayout="row">
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">Start Date</mat-label><br />
						<div>{{ policy.policyDate }}</div>
					</div>
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">End Date</mat-label><br />
					</div>
				</div>
                <br /> 
                </mat-card><br />

			<mat-card>
				<div fxLayout="row">
					<mat-label class="label_prop">Vehicle</mat-label>
					<button
						mat-button
						color="primary"
						(click)="moveToCalculator(0)"
						id="vehicledit"
						name="vehicledit"
					>
						Edit
					</button>
				</div>
				<div fxLayout="row" fxLayout.xs="column">
					<div fxFlex="50%">
						<mat-label class="sub_label_prop"
							>Vehicle Registration Number</mat-label
						>
						<div>{{ vehicleinfo.registrationNumber }}</div>
					</div>
					<div fxFlex="50%">
						<mat-label class="sub_label_prop"
							>Vehicle Certification Number</mat-label
						>
						<div>{{ vehicleinfo.certificateNumber }}</div>
					</div>
				</div>
				<div fxLayout="row" fxLayout.xs="column">
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">Vehicle Purpose</mat-label>
						<div>{{ vehicleinfo.purpose }}</div>
					</div>
					<div fxFlex="50%">
						<mat-label class="sub_label_prop"
							>Driven outside bulgaria for more than 60 days</mat-label
						>
						<div>{{ vehicleinfo.yesNo }}</div>
					</div>
				</div>
				<br />
				<mat-card class="panel">
					<img
						class="user-key"
						src="../../assets/edit.jpg"
						alt="a pen image with yellow background"
					/>
					Casco has an active policy for the same vehicle with different
					data.The change in the data will be reflacted in an annex. The annex
					will be sent to you by courier/ email or will be provided for signing
					by e-signature.
                </mat-card> 
                </mat-card><br />

			<mat-card>
				<div fxLayout="row">
					<mat-label class="label_prop">Insuring Party</mat-label>
					<button
						mat-button
						color="primary"
						(click)="moveToCalculator(1)"
						id="partyedit"
						name="partyedit"
					>
						Edit
					</button>
				</div>
				<div fxLayout="row" fxLayout.xs="column">
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">ENG/ELK/LNCH Number</mat-label>
						<div>{{ insuringparty.egn }}</div>
					</div>

					<div fxFlex="50%">
						<mat-label class="sub_label_prop">City and zipcode</mat-label><br />
						<div>
							{{ contactinformation.city }} {{ contactinformation.pincode }}
						</div>
					</div>
				</div>

				<div fxLayout="row" fxLayout.xs="column">
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">Full Name</mat-label>
						<div>
							{{ personalinformation.fullname.firstname }}
							{{ personalinformation.fullname.lastname }}
							{{ personalinformation.fullname.surname }}
						</div>
					</div>
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">street & Number</mat-label><br />
						<div>
							{{ vehicleownerinformation.street }}
							{{ vehicleownerinformation.No }}
						</div>
					</div>
				</div>
				<div fxLayout="row" fxLayout.xs="column">
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">Phone Number</mat-label>
						<div>{{ contactinformation.phone }}</div>
					</div>
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">Apartment</mat-label><br />
						<div>{{ contactinformation.appartment }}</div>
					</div>
				</div>

				<div fxLayout="row" fxLayout.xs="column">
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">Email</mat-label>
						<div>{{ insuringparty.email }}</div>
					</div>
                </div> 
                </mat-card><br />

			<mat-card>
				<div fxLayout="row">
					<mat-label class="label_prop">Vehicle Owner</mat-label>
					<button mat-button color="primary" (click)="edit(2)">Edit</button>
				</div>

				<div fxLayout="row" fxLayout.xs="column">
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">EGN/ELK/LNCH Number</mat-label
						><br />
						<div>{{ vehicleownerinformation.lnch }}</div>
					</div>
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">city & zipcode</mat-label>
						<div>{{ vehicleownerinformation.city }}</div>
					</div>
				</div>

				<div fxLayout="row" fxLayout.xs="column">
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">Full Name</mat-label><br />
						<div>{{ vehicleownerinformation.fullname.firstname }}</div>
					</div>
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">street & Number</mat-label><br />
						<div>
							{{ vehicleownerinformation.street }}
							{{ vehicleownerinformation.No }}
						</div>
					</div>
                </div> 
                </mat-card><br />

			<mat-card>
				<div fxLayout="row">
					<mat-label class="label_prop">Delivery</mat-label>
					<button mat-button color="primary" (click)="edit(3)">Edit</button>
				</div>

				<div fxLayout="row" fxLayout.xs="column">
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">Full Name</mat-label>
						<div>{{ deliveryinformation.fullName }}</div>
					</div>
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">City and zipcode</mat-label>
						<div>
							{{ deliveryinformation.city }} and
							{{ deliveryinformation.pincode }}
						</div>
					</div>
				</div>

				<div fxLayout="row" fxLayout.xs="column">
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">Phone Number</mat-label>
						<div>{{ deliveryinformation.contact }}</div>
					</div>
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">Street & Number</mat-label>
						<div>
							{{ deliveryinformation.street }} and
							{{ deliveryinformation.number }}
						</div>
					</div>
				</div>

				<div fxLayout="row" fxLayout.xs="column">
					<div fxFlex="50%">
						<mat-label class="sub_label_prop">Address Type</mat-label>
						<div>{{ deliveryinformation.business }}</div>
					</div>
					<div fxFlex="10%">
						<mat-label class="sub_label_prop">Block</mat-label>
						<div>{{ deliveryinformation.block }}</div>
					</div>
					<div fxFlex="10%">
						<mat-label class="sub_label_prop">Apartment</mat-label>
						<div>{{ deliveryinformation.appt }}</div>
					</div>
                </div> 
                </mat-card><br />

			<mat-card>
				<mat-checkbox formControlName="AgreeToAll">
					<div class="checkbox_text">Agree to all</div>
				</mat-checkbox>
			</mat-card>
			<mat-error
				*ngIf="
					summaryForm.controls.AgreeToAll.errors &&
					summaryForm.controls.AgreeToAll.touched
				"
				style="color: red;"
				>Required</mat-error
			><br />

			<mat-card>
				<mat-checkbox formControlName="receiveNewsletter">
					<div class="checkbox_text">I agree to receive DZI newsletter</div>
				</mat-checkbox>
			</mat-card>
			<mat-error
				*ngIf="
					summaryForm.controls.receiveNewsletter.errors &&
					summaryForm.controls.receiveNewsletter.touched
				"
				style="color: red;"
				>Required</mat-error
			><br />

			<mat-card>
				<mat-checkbox formControlName="generalTerms">
					<div class="checkbox_text">
						I agree to the
						<a routerLink="#" style="color:dodgerblue ;"
							>general terms and conditions</a
						>
					</div>
				</mat-checkbox>
			</mat-card>
			<mat-error
				*ngIf="
					summaryForm.controls.generalTerms.errors &&
					summaryForm.controls.generalTerms.touched
				"
				style="color:red"
				>required</mat-error
			><br />
		</form>
		<div fxLayoutAlign.xs="center">
			<button
				class="btn_prop"
				mat-raised-button
				color="primary"
				[disabled]="summaryForm.invalid"
				matStepperNext
				(click)="saveData()"
			>
				Continue to payment
			</button>
		</div>
	</body>
</html>
