
.card_color{
  background-color: rgb(8, 56, 95);
  color:white;
}

.div_prop{
  font-size: 30px;
  font-weight:bold;
}
.span_prop{
  font-size: 20px;
}
.tick {
  width: 30px;
  height: 20px;
  margin-left: 0rem;
}
.text_prop{
  color: rgb(8, 56, 95);
}
.label_prop {
  color: rgb(8, 56, 95);
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
  margin-left: 1rem;
}
.sub_label_prop {
  font-size: small;
}
mat-label{
  color: rgb(8, 56, 95);
  font-size: 15px;
}

.vehicle_comp{
  margin-left:-1rem;
}

.insuring_party{
  margin-left:-1rem;
}

.vehicle_owner{
  margin-left:-1rem;
}

.delivery_comp{
  margin-left:-2rem;
}

.bgn{
  margin-left: auto;
}

.panel {
  border-width: thin;
  border-style: solid;
  border-color: orange;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 20px;
}
mat-card{
  border: none;
}
.user-key {
  width: 40px;
  position: absolute;
  z-index: 1;
  top: 15px;
  left: -25px;
}

.middle_text{
  margin-top: 15px;
  margin-left: -10px;

}
.edit{
  text-decoration: underline;
  color:rgb(43, 168, 226)
}
.checkbox_text{
  font-size: 1vw;
}


@media screen and (max-width:600px){
  .middle_text{
    margin-left: 20px;
    margin-top: 2px;
  }

  .div_prop{
    max-width: 7rem;
    font-size: 20px;
  }

  .span_prop{
    font-size: 12px;
  }
  .tick{
    margin-left: -1rem;
  }
  .pay_margin{
    margin-left:1rem
  
  }
  .checkbox_text{
    font-size: 3vw;
  }

}

@media screen and (min-width:600px) and (max-width:960px){
  .middle_text{
    margin-left: -2rem;
    margin-top: 1rem;
  }

  .div_prop{
    max-width: 20rem;
  }
  .span_prop{
    font-size: 12px;
  }
  .checkbox_text{
    font-size: 2vw;
  }
  .pay_margin{
    max-width: 10%;
  }


}


/*for large screens*/
@media screen and (min-width:960px) and (max-width:1280){
  .btn{
    margin-left: 20px;
  }
  .tick{
    margin-left: 1rem;
  }
  .text_prop{
    margin-left: -3rem;
  }
  .chechbox_text{
    font-size:2vw ;
  }
}

@media screen and (min-width:1280px){
  .tick{
    margin-left:1rem;
  }
  .text_prop{
    margin-left: 0rem;
  }
  .checkbox_text{
    font-size: 15px;
  }
}
/* _______________ */








