.bestvalue {
  margin-left: 25px;
  font-size: 15px;
  text-align: center;

}
.mon{
  margin-top: 10px;
 font-size: 15px;
 margin-left: 10px;
}
.mon1{
  padding-left: 25px;
  padding-bottom: 10px;
  font-size: 12px;
}
.spc {
  margin-left: 25px ;
  width: 100px;
  
}
.best{
  padding-left: 25px;
  padding-right: 0px;
  font-size: 15px;
  width: 150px;
 
}


.heading {
  color: rgb(8, 56, 95);
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
}
.middle-heading {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 20px;
  padding-left: 20px;
  color: white;
}
.bg-dark-blue {
  background-color: #003564;
  color: #ffffff;
}
.sub-head {
  font-size: 20px;
  font-weight: bold;
  color: rgb(8, 56, 95);
}

.cardrow {
  margin-left: 20px;
  color: rgb(8, 56, 95);
  height: 50px;
}
.nearelm {
  font-size: 20px;
}
.num {
  color: rgb(8, 56, 95);

  font-size: 20px;
  font-weight: bold;

  padding: 0%;
}
.months {
  color: rgb(8, 56, 95);
 
  
}
.whitecard {
  padding: 0%;
  margin-top: 20px;
}
.firstcard {
  
  height: auto;
  margin-bottom: 20px;
  
}
.secondcard {
  
  height: auto;
  margin-bottom: 20px;
}
.thirdcard {
 
  height: auto;
  margin-bottom: 20px;
}
.thirdparty {
  background-color: rgb(8, 56, 95);
  height: auto;
  width: 100%;
  margin-bottom: 50px;
}
.policy {
  color: white;
  margin-left: -1px;
  margin-top: -50px;
  font-size: 20px;
}
.bgn {
  color: white;
  padding-left: 10%;
}
.card-body {
  padding-top: 2px;
}

.textcolor {
  color: rgb(8, 56, 95);
  margin-top: -20px;
  padding-left: 15px;
}


.car {
  margin-left: -5px;
}
.img{
  width: 60%;
  height: 60%;
  object-fit: contain;
}

@media screen and ( max-width: 450px) {
  .mon {
   
    margin-left: -70px;
    width: 200px; 
    text-align: center;
    padding-bottom: 10px;
    font-size: 12px;
    
  
  }
  
  .bestvalue{
    margin-top: 30px;
    text-align: center;
    margin-left: -70px;
    
  }
  .bgn {
    margin-left: 25px;
    color: white;
  }
  .whitecard .months {
    padding-left: 5%;
    margin-left: 25px;
  }
  .whitecard .num {
    margin-left: 10px;
  }
  .num {
    margin-left: 30px;
    font-size: 15px ;
   
  }
  .months{
    margin-left: 40px;
    font-size: 15px ;
   
  }
  .nearelm{
    font-size: 15px ;
  }
   .middle-heading {
   padding-top: -30;
   margin-bottom: 9px;
   margin-left: 30px;
   color:white ;
  } 
  .col-lg-12 {
    margin-left: 200px;
  }
  .spc {
    margin-top: 0px;
  }
} 

@media all and (max-width: 767px) {
  
  .nearelm {
    font-size: 13px;
  }
  .bgn {
    font-size: 12px;
    text-align: left;
  }
  .mon {
    margin-top: 40px;
    width: 300px;
    margin-left: -100px;
    font-size: 12px;
   
    
  }
  .mon1 {
    
    width: 300px;
    font-size: 12px;
  }
  .months{
    
    font-size: 12px;
   }

  .textcolor {
    display: none;
  }
  .middle-heading {
    font-size: 20px;
    padding-left: 1%;
    height: 80%;
    padding-top: 0%;
    padding-bottom: 0%;
  }
  .adjust {
    padding-left: 0%;
    padding-top: 5%;
  }
  .cardrow{
    margin-bottom: 100px;
  
  }
  .spc {
    margin-top: 0px;
  }
  
}
@media screen and (max-width: 575px) {
  .mon1 {
    width: 400px;
    font-size: 12px;
  }
  .mon {
    text-align: center;
    margin-top: 10px;
    margin-left: -120px;
    padding-left: 0%;
    
  }
  
  .bestvalue{
    margin-top: 30px;
    text-align: center;
    margin-left: -70px;
   
  }
  .nextbtn {
    width: 250px;
    margin: auto;
    display: block;
  }
  
}
