<h1 class="heading ">Additional covers</h1><br>
<form [formGroup]="additionalcoverForm" (submit)="next()">
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <mat-card class="mat-elevation-z8 thirdparty">
            <mat-card-content>
                <div fxLayout="row">
                    <div fxFlex="15%">
                        <img src="../../assets/motor_policy.PNG">
                    </div>
                    <div fxFlex="80%">
                        <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign.gt-xs="space-between center">
                            <div fxFlex="50%" fxLayoutAlign="start">
                                <span class="middle-heading none text-small">Motor Third party Liability Policy</span>
                            </div>
                            <div fxFlex="50%" fxLayoutAlign.xs="start center" fxLayoutAlign="end end">
                                <div>
                                    <div class="num " style="color: whitesmoke;">382<span class="nearelm">,00 BGN</span>
                                    </div>
                                    <div class="bgn ">
                                        Four payments
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxlayout="column">
        <mat-radio-group formControlName="cover" (change)="change()">
            <div fxLayout="column" fxLayoutGap="5%">
                 <mat-card class="mat-elevation-z8 firstcard">
                    <mat-card-content fxLayout="column">
                        <div fxFlex="40">
                            <mat-radio-button class="sub-head" value="none">None</mat-radio-button>
                        </div>
                        <div fxFlex="40" class="mon ">
                            Description of additional cover here
                        </div>
                    </mat-card-content>
                </mat-card>


                 <mat-card class="mat-elevation-z8 secondcard">
                    <mat-card-content fxLayout="column">
                        <div fxFlex="40" fxLayout.xs="column" fxLayout="row" class="cardrow">
                            <div fxFlex="40">
                                <mat-radio-button class="sub-head" value="premium">Premium</mat-radio-button>
                            </div>
                            <div fxFlex="60%" fxLayoutAlign="end end" fxLayout="column">
                                <div class="num">+25<span class="nearelm">,00 BGN</span></div>
                                <div class="months">
                                    for 12 months
                                </div>
                            </div>
                        </div>
                        <div fxFlex="40" class="mon ">
                            <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="start-start" fxLayoutGap.xs="5%">
                                <div fxFlex="20%">
                                    <button mat-raised-button color="primary">Best Value</button>
                                </div>
                                <div fxFlex="70%" flexLayoutAlign="start">
                                    Description of additional cover here
                                </div>

                            </div>

                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-content fxLayout="column">
                        <div fxFlex="40" fxLayout="row">
                            <div fxFlex="40">
                                <mat-radio-button class="sub-head" value="vip">VIP</mat-radio-button>
                            </div>
                            <div fxFlex="60%" fxLayoutAlign="end end" fxLayout="column">
                                <div class="num">+80<span class="nearelm">,00 BGN</span></div>
                                <div class="months">
                                    for 12 months
                                </div>
                            </div>
                        </div>
                        <div fxFlex="40" class="mon ">
                            <div fxLayout="column" fxLayoutGap.gt-xs="5%" fxLayoutGap.xs="10%">
                                <div fxFlex="20%" flexLayoutAlign="start">
                                    Description of additional cover here
                                </div>
                                <div fxFlex="60%">
                                    <div class="textcolor">
                                        <p><b>Services provded under the "PREMIUM" clause, but with higher
                                                limits when transporting vehicles</b></p>
                                        <div fxLayout="row">
                                            <div class="image none" fxFlex="10%">
                                                <img width="30px" height="20px" src="./assets/tick.jpg"></div>
                                            <span fxFlex="90%" fxLayout="column"> In case of an insurance event(no limit
                                                in the number of
                                                transports
                                                and up to 900 km
                                                mileage)</span>
                                        </div>
                                        <div fxLayout="row">
                                            <div class="image" fxFlex="10%">
                                                <img width="30px" height="20px" src="./assets/tick.jpg"></div>
                                            <span fxFlex="90%" fxLayout="column"> Technical failure(no mileage limit and
                                                up to 2
                                                transports)</span>
                                        </div>
                                        <div fxLayout="row">
                                            <div class="image" fxFlex="10%">
                                                <img width="30px" height="20px" src="./assets/tick.jpg"></div>
                                            <span fxFlex="90%" fxLayout="column"> Wrong fuet(disposable)</span>
                                        </div>
                                        <br>

                                        <p><b>And more:</b></p>
                                        <div fxLayout="row">
                                            <div class="image" fxFlex="10%">
                                                <img width="30px" height="20px" src="./assets/tick.jpg"></div>
                                            <span fxFlex="90%" fxLayout="column"> Stay in the parking lot of the damaged
                                                car</span>
                                        </div>
                                        <div fxLayout="row">
                                            <div class="image" fxFlex="10%">
                                                <img width="30px" height="20px" src="./assets/tick.jpg"></div>
                                            <span fxFlex="90%" fxLayout="column"> Overview in a hotel of the driver of
                                                the vehicle </span>
                                        </div>
                                        <div fxLayout="row">
                                            <div class="image" fxFlex="10%">
                                                <img width="30px" height="20px" src="./assets/tick.jpg"></div>
                                            <span fxFlex="90%" fxLayout="column"> Transportation of persons traveling in
                                                vehicles, in case the
                                                vehicle
                                                has suffered damage</span>
                                        </div>
                                        <div fxLayout="row">
                                            <div class="image" fxFlex="10%">
                                                <img width="30px" height="20px" src="./assets/tick.jpg"></div>
                                            <span fxFlex="90%" fxLayout="column"> Medical transportation in case of an
                                                accident</span>
                                        </div>
                                        <div fxLayout="row">
                                            <div class="image" fxFlex="10%">
                                                <img width="30px" height="20px" src="./assets/tick.jpg"></div>
                                            <span fxFlex="90%" fxLayout="column">Costs of examinations, medical
                                                examinations and manipulations
                                                in
                                                case of bodily
                                                injuries to the driver and / or persons traveling in the vehicle as a
                                                result of the
                                                accident</span>
                                        </div>
                                        <div fxLayout="row">
                                            <div class="image" fxFlex="10%">
                                                <img width="30px" height="20px" src="./assets/tick.jpg"></div>
                                            <span fxFlex="90%" fxLayout="column">In case of damages covered by Casco +
                                                insurance - up to 2
                                                vehicle inspections at
                                                the address indicated by the client</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </mat-card-content>
                </mat-card>

                <button mat-raised-button color="primary" type="submit"
                    class="btn btn-primary rounded-pill  col-sm-4 col-lg-2 col-md-3 nextbtn"
                    [disabled]="!additionalcoverForm.valid" matStepperNext>
                    Next</button>

            </div>

        </mat-radio-group>



    </div>



</form>