<div fxLayout="column" fxLayoutGap="5%">
 <div fxFlex="10%"></div>
 <div fxFlex="30%">
  <div fxLayout="row" fxLayoutAlign="center">
   <div fxFlex.gt-xs="40%">
    <mat-card>
     <mat-card-content>
      <div fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center stretch">
       <div fxFlex="40%">
        <h1 class="heading" fxLayoutAlign="center">Sign Up</h1>
        <form fxLayout="column" fxLayoutAlign="center" [formGroup]="signUpForm">
         <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" id="email" name="email" formControlName="email" />
          <mat-error *ngIf="signUpForm.controls.email.errors?.required">Required</mat-error>
          <mat-error *ngIf="signUpForm.controls.email.errors?.pattern">enter valid emailId</mat-error>
         </mat-form-field>
         <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" id="password" name="password" formControlName="password" [type]="hide ? 'password' : 'text'"
          />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
          >
           <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="signUpForm.controls.password.errors?.required">Required</mat-error>
         </mat-form-field>
         <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" [type]="hide1 ? 'password' : 'text'"
          />
          <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
          >
           <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="signUpForm.controls.confirmPassword.errors?.required">Required</mat-error>
          <mat-error
           *ngIf="
            signUpForm.controls.confirmPassword.errors?.misMatch &&
            !signUpForm.controls.confirmPassword.errors?.required &&
            signUpForm.controls.confirmPassword.dirty &&
            signUpForm.controls.confirmPassword.touched
           "
           >Password did not match</mat-error
          >
         </mat-form-field>
         <mat-form-field appearance="outline">
          <mat-label>Phone No.</mat-label>
          <input matInput placeholder="Phone No." id="mobile" name="mobile" formControlName="mobile" />
          <mat-error *ngIf="signUpForm.controls.mobile.errors?.required">Required</mat-error>
          <mat-error
           *ngIf="signUpForm.controls.mobile.errors?.minlength || signUpForm.controls.mobile.errors?.maxlength"
           >Enter valid phone No.</mat-error
          >
         </mat-form-field>

         <button color="primary" mat-raised-button (click)="register()" value="Login" [disabled]="!signUpForm.valid">
          Register
         </button>
        </form>
        <div fxLayoutAlign="center">
         Already have an account?
         <a [routerLink]="['/signIn']">Sign in</a>
        </div>
       </div>
      </div>
     </mat-card-content>
    </mat-card>
   </div>
  </div>
 </div>
</div>
