<body>
<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form fxLayout="column" fxLayoutAlign="center" [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Username" id="Username" formControlName="userName">
                </mat-form-field>
                <mat-form-field appearance='outline'>
                    <input matInput id="password" formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                </mat-form-field>
                <a href="">Forgot Password ?</a>
                <button type="submit" mat-flat-button color="primary">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
</body>