.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.is-active{
    color:#eee;
    background-color:#3F51B5;
    
}
a{
  text-decoration: none;

}