<div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="95">
      <h2>My Profile</h2>
      <button fxFlex="15" routerLink="change-password" mat-raised-button color="primary">Change Password</button>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="95">
    <table border="1">
        <tbody>
            <tr>
                <td><b>First Name</b></td>
                <td>DZI</td>
            </tr>
            <tr>
                <td><b>Middle Name</b></td>
                <td>Super</td>
            </tr>
            <tr>
                <td><b>Last Name</b></td>
                <td>Admin</td>
            </tr>
            <tr>
                <td><b>Assigned groups</b></td>
                <td>DZI Admin Group</td>
            </tr>
            <tr>
                <td><b>2FA Enabled</b></td>
                <td>false</td>
            </tr>
            <tr>
                <td><b>Status</b></td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>