<h1><b>Contact Details</b></h1>
<br />
<form [formGroup]="registerForm" (submit)="submit()">
  <div
    fxLayout="row"
    fxLayout.lt-lg="column"
    fxLayoutAlign.lg="space-between center"
  >
    <label for="city" fxFlex="31%" fxHide.xs>City</label>

    <mat-form-field appearance="outline" fxFlex="31%">
      <mat-label >City</mat-label>
      <mat-select
        id="city"
        formControlName="city"
        name="city"
        (change)="change()"
      >
        <mat-option>None</mat-option>
        <mat-option
          *ngFor="let obj of provincesArray"
          value="{{ obj.pname }}"
          >{{ obj.pname }}</mat-option
        >
      </mat-select>
      <mat-error
        *ngIf="
          registerForm.controls.city.hasError('required') &&
          (registerForm.controls.city.dirty ||
            registerForm.controls.city.touched)
        "
      >
        This field is mandatory</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="31%">
      <mat-label>PinCode</mat-label>
      <input
        matInput
        formControlName="pincode"
        id="num"
        name="num"
        (change)="change()"
      />
      <mat-error
        *ngIf="
          registerForm.controls.pincode.hasError('required') &&
          (registerForm.controls.pincode.dirty ||
            registerForm.controls.pincode.touched)
        "
        class="error"
        >This field is mandatory</mat-error
      >
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>
  <br />

  <div
    fxLayout="row"
    fxLayout.lt-lg="column"
    fxLayoutAlign.lg="space-between center"
  >
    <label for="city" fxFlex="31%" fxHide.xs
      >Street and Number</label
    >

    <mat-form-field appearance="outline" fxFlex="31%">
      <mat-label>Street</mat-label>
      <input
        matInput
        formControlName="street"
        id="street"
        name="street"
        (change)="change()"
      />
      <mat-error
        *ngIf="
          registerForm.controls.street.hasError('required') &&
          (registerForm.controls.street.dirty ||
            registerForm.controls.street.touched)
        "
      >
        This field is mandatory</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="31%">
      <mat-label id="streetNumber" name="streetNumber">Street Number</mat-label>
      <input
        matInput
        formControlName="No"
        id="streetNumber"
        name="streetNumber"
        (change)="change()"
      />
      <mat-error
        *ngIf="
          registerForm.controls.No.hasError('required') &&
          (registerForm.controls.No.dirty || registerForm.controls.No.touched)
        "
        class="error"
        >This field is mandatory</mat-error
      >
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>
  <br />
  <label
    >Block,Entrance and Apartment</label
  ><br />
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between">
    <mat-form-field appearance="outline" fxFlex="31%">
      <mat-label>Block</mat-label>
      <input
        matInput
        id="block"
        formControlName="block"
        name="blockName"
        (change)="change()"
      />
      <mat-hint>Optional</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="31%">
      <mat-label>Entrance</mat-label>
      <input
        matInput
        id="entranceName"
        formControlName="entrance"
        name="entranceName"
        (change)="change()"
      />
      <mat-hint>Optional</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="31%">
      <mat-label>Appartment</mat-label>
      <input
        matInput
        id="appartmentName"
        formControlName="appartment"
        name="appartmentName"
        (change)="change()"
      />
      <mat-hint>Optional</mat-hint>
    </mat-form-field>
  </div>
  <br />

  <mat-divider></mat-divider>
  <br />
  <div
    fxLayout="row"
    fxLayout.lt-lg="column"
    fxLayoutAlign.lg="space-between center"
  >
    <label for="lnch" fxFlex="60%"
      >Phone Number</label
    >
    <mat-form-field appearance="outline" fxFlex="40%">
      <mat-label>Phone Number</mat-label>
      <input
        matInput
        formControlName="phone"
        id="phoneNo"
        name="phoneNo"
        (change)="change()"
      />
      <mat-error
        *ngIf="
          registerForm.controls.phone.hasError('required') &&
          (registerForm.controls.phone.dirty ||
            registerForm.controls.phone.touched)
        "
        >This field is mandatory</mat-error
      >
      <mat-error
        *ngIf="
          registerForm.controls.phone.hasError('pattern') &&
          (registerForm.controls.phone.dirty ||
            registerForm.controls.phone.touched)
        "
        >Only numbers allowed</mat-error
      >
      <mat-error
        *ngIf="
          !registerForm.controls.phone.hasError('pattern') &&
          (registerForm.controls.phone.hasError('minlength') ||
            registerForm.controls.phone.hasError('maxlength')) &&
          (registerForm.controls.phone.dirty ||
            registerForm.controls.phone.touched)
        "
        >Enter valid phone number</mat-error
      >
    </mat-form-field>
  </div>

  <button
    id="contactbtn"
    name="contactbtn"
    type="submit"
    mat-raised-button
    color="primary"
    matStepperNext
    [disabled]="!registerForm.valid"
  >
    Calculate
  </button>
</form>
