<!-- heading section -->
<h1 class="heading">Policy Details</h1>
<!-- policy details form and form fields -->
<form
	[formGroup]="registerForm"
	(submit)="submit()"
	class="form_elements_color"
>
	<br />
	<div
		fxLayout="row"
		fxLayout.lt-lg="column"
		fxLayoutAlign.lg="space-between center"
	>
		<mat-label for="city" fxFlex="40%" fxHide.xs>Start Date</mat-label>
		<mat-form-field appearance="outline" fxFlex="40%">
			<mat-label>Start Date</mat-label>
			<input
				id="policydate"
				matInput
				[matDatepicker]="picker"
				formControlName="policyDate"
				(dateChange)="change()"
				[min]="mindate"
			/>
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker touchUi #picker></mat-datepicker>
			<mat-error *ngIf="formControls.policyDate.hasError('required')">
				This field is mandatory
			</mat-error>
		</mat-form-field>
	</div>
	<mat-divider></mat-divider>
	<br />
	<div
		fxLayout="row"
		fxLayout.lt-lg="column"
		fxLayoutAlign.lg="space-between center"
	>
		<mat-label for="city" fxFlex="40%" fxHide.xs>Policy Length</mat-label>
		<mat-form-field appearance="outline" fxFlex="40%">
			<mat-label>Policy Length</mat-label>
			<mat-select formControlName="policyLength" (selectionChange)="change()">
				<mat-option>None</mat-option>
				<mat-option
					*ngFor="let length of policyLength"
					[value]="length.value"
					>{{ length.name }}</mat-option
				>
			</mat-select>
			<mat-error *ngIf="formControls.policyLength.hasError('required')">
				This field is mandatory
			</mat-error>
		</mat-form-field>
	</div>
	<mat-divider></mat-divider>
	<br />
	<mat-card>
		<mat-card-content>
			<mat-checkbox formControlName="check1" (change)="change()"></mat-checkbox>
			I have read and accepted "Personal Data Protection Information"
		</mat-card-content>
	</mat-card>
	<mat-error
		*ngIf="
			formControls.check1.touched &&
			formControls.check1.errors &&
			formControls.check1.invalid
		"
	>
		This field is mandatory
	</mat-error>
	<br />
	<mat-card>
		<mat-card-content>
			<mat-checkbox formControlName="check2" (change)="change()"></mat-checkbox>
			I have read the "Motor Insurance Third Party Liability Insurance Document"
		</mat-card-content>
	</mat-card>
	<mat-error
		*ngIf="
			formControls.check2.touched &&
			formControls.check2.errors &&
			formControls.check2.invalid
		"
	>
		This field is mandatory
	</mat-error>
	<br />
	<button
		mat-raised-button
		color="primary"
		matStepperNext
		[disabled]="!registerForm.valid"
	>
		Calculate
	</button>
</form>
