/* Heading styling */
.heading {
	color: rgb(8, 56, 95);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-weight: bold;
}
/* form styling */
.form_elements_color {
	color: rgb(8, 56, 95);
}
@media screen and (max-width: 768px) {
	.line {
		display: none;
	}
}
@media screen and (max-width: 575px) {
	.btn {
		width: 250px;
		margin: auto;
		display: block;
	}
}
