<form class="container" [formGroup]="groupsForm" (submit)="submit()">
    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="1%">
        <div fxFlex="100%" class="align">
            Create Group
        </div>
        <div fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%">
            <div fxFlex=30% class="form-group">
                <mat-form-field appearance="outline" fxFlex="30%" fxLayout='column'>
                    <mat-label>
                        Group Name
                    </mat-label>
                    <input matInput placeholder="Group Name" formControlName="groupName" id="groupName">
                    <mat-error class="error" *ngIf="formControls.groupName.touched && formControls.groupName.errors">
                        <mat-error *ngIf="formControls.groupName.errors.required">This field is mandatory</mat-error>
                    </mat-error>
                </mat-form-field>            
            </div>
            <div fxFlex=30%>
                <mat-form-field appearance="outline" fxFlex="30%" fxLayout='column'>
                    <mat-label>
                        Description
                    </mat-label>
                    <input matInput formControlName="description" placeholder="Description" id="description">
                    <mat-error class="error" *ngIf="formControls.description.touched && formControls.description.errors">
                        <mat-error *ngIf="formControls.description.errors.required">This field is mandatory</mat-error>
                    </mat-error>
                </mat-form-field>            
            </div>
            <div fxFlex="30%">
                <button type="submit" class="bg-success text-white rounded-pill" [disabled]="groupsForm.invalid" mat-raised-button>Submit</button>
            </div>            
        </div>        
    </div>
</form>
