<div fxLayout="column" fxLayoutGap="2%">
    <div></div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="95">
            <form [formGroup]="changePasswordForm" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.gt-md="50"
                fxFlex.lt-md="100" (submit)="submit()">
                <mat-form-field appearance="outline">
                    <mat-label>Old Password</mat-label>
                    <input matInput placeholder="Old Password" formControlName="oldPassword">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="New Password" formControlName="newPassword">
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary" [disabled]="!changePasswordForm.valid">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>